# Python cache files
__pycache__/

# Environment and system files
.venv/
.DS_store

# Model and logs 
# 1. Ignore everything inside wandb
/wandb/*

# 2. Allow the LGSA folder so Git can look inside it
!/wandb/LGSA/

# 3. Ignore everything inside LGSA (to ensure we still ignore junk in here)
/wandb/LGSA/*

# 4. Finally, specifically allow the BEST folder and everything in it
!/wandb/LGSA/BEST/

# Profiling files
profiling/
*.prof

# Temporary and test files
*tmp*

# key file
*key.txt

# picture files
**.png
**.jpg

**.sh

# Res files
/res/**
!/res/BEST
!/res/BEST/all_models_combined.csv


# Generated problem file
generated_nazari_problem/**
!/generated_nazari_problem/README.md
!/generated_nazari_problem/*.py
!/generated_nazari_problem/gen_nazari_10.pt
!/generated_nazari_problem/gen_nazari_20.pt
!/generated_nazari_problem/gen_nazari_50.pt
!/generated_nazari_problem/gen_nazari_100.pt


/generated_uchoa_problem/**
!/generated_uchoa_problem/README.md
!/generated_uchoa_problem/*.py
!generated_uchoa_problem/scripts_gen/
!generated_uchoa_problem/scripts_gen/*.py
!/generated_uchoa_problem/gen_uchoa_10.pt
!/generated_uchoa_problem/gen_uchoa_20.pt
!/generated_uchoa_problem/gen_uchoa_50.pt
!/generated_uchoa_problem/gen_uchoa_100.pt


# BDD files
bdd/*
!bdd/README.md
!bdd/generate_csv_data.py

test_gpu.py
cloud_gpu.txt

**.log
**.ipynb

!example/plots/**

logs/

scripts/
!scripts/
!scripts/dl_model.sh
!scripts/sync_wandb.sh
!scripts/train_lgsa.slurm

# Claude files
*claude*
*CLAUDE*
*docs*

*test*